<header>
    <nav>
        <div class="logo">Name-folio</div>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Обо мне</a>
            </li>
            <li>
                <a routerLink="/blog" routerLinkActive="is-active" class="nav-link">Блог</a>
            </li>
            <li>
                <a routerLink="/" fragment="contact" class="nav-link">Контакты</a>
            </li>
        </ul>
    </nav>
</header>
